# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ERGOZ_LEFT

config ZMK_KEYBOARD_NAME
	default "ErgoZ"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_ERGOZ_LEFT || SHIELD_ERGOZ_RIGHT

config ZMK_SPLIT
	default y

endif
