# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGOZ_LEFT
	def_bool $(shields_list_contains,ergoz_left)

config SHIELD_ERGOZ_RIGHT
	def_bool $(shields_list_contains,ergoz_right)
